@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
  background: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.page {
  padding: 24px;
  width: 100%;
}

header {
  background-color: var(--color-blue-850);
  padding: 40px;
  border-radius: 10px 100px 10px 10px;
  max-width: 315px;
}

.header__logo {
  margin-bottom: 32px;
}

.header__icons {
  display: flex;
  gap: 16px;
  list-style: none;
}

.header__icon {
  display: flex;
  justify-content: center;
  background-color: var(--color-blue-950);
  padding: 15px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

.header__icon img {
  display: block;
}

.storage-card {
  background-color: var(--color-blue-850);
  border-radius: 10px;
  padding: 40px;
  margin-top: 16px;
  color: var(--color-blue-200);
}

.storage-card__text {
  font-size: 14px;
  line-height: 1.15;
  font-weight: var(--font-weight-regular);
}

.storage-card__bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-blue-950);
  border-radius: 10px;
  height: 20px;
  margin: 16px 0 8px 0;
  padding: 3px;
  overflow: hidden;
}

.storage-card__bar-filled {
  background: var(--color-gradient-2);
  height: 14px;
  border-radius: 8px;
  width: 81.5%;
  height: 100%;
}

.storage-card__bar-ball {
  background-color: var(--color-white);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: -12px;
}

.storage-card__scale {
  display: flex;
  justify-content: space-between;
}

.storage-card__scale-start, .storage-card__scale-end {
  font-size: 12px;
  line-height: 1.15;
  font-weight: var(--font-weight-extra-bold);
}

.storage-card__remaining {
  position: relative;
  height: 0;
}

.storage-card__remaining-value {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  width: 180px;
  height: 72px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  color: var(--color-blue-950);
}

.storage-card__remaining-number {
  font-size: 40px;
}

.storage-card__remaining-label {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.5;
  line-height: 1.15;
}

.footer__attribution {
  margin-top: 40px;
  color: var(--color-blue-200);
  font-size: 11px;
  text-align: center;
}

.footer__attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  html {
    background-color: var(--color-blue-950);
  }

  body {
    background: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  .page {
    padding: 114px;
  }
}

@media (min-width: 1024px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  header {
    max-width: 350px;
    height: 201px;
  }

  .storage-card {
    position: relative;
    width: 100%;
    margin-left: 32px;
    height: 154px;
    margin-top: 0;
  }

  .storage-card__remaining {
    position: absolute;
    top: -48px;
    right: 40px;
  }

  .storage-card__remaining-value {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
    border-radius: 10px 10px 0 10px;
  }

  .storage-card__remaining-value::after {
    content: '';
    position: absolute;
    bottom: -24px;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: var(--color-white);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

@media (min-width: 1440px) {
  body {
    background-size: 100%;
  }
}