@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-blue-950: hsl(229, 57%, 11%);
  --color-blue-900: hsl(224, 61%, 15%);
  --color-blue-850: hsl(228, 56%, 26%);
  --color-blue-600: hsl(228, 55%, 62%);
  --color-blue-200: hsl(243, 100%, 93%);

  --color-gradient-1: linear-gradient(
    135deg,
    hsl(228, 56%, 26%),
    hsl(229, 57%, 11%)
  );

  --color-gradient-2: linear-gradient(
    90deg,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );

  --font-family: 'Raleway', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}